$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$baseFontSize: 16px;

@font-face {
    font-family: Museo300-Regular;
    src: url("Museo300-Regular.otf") format("opentype");
}

@font-face {
    font-family: Museo500-Regular;
    src: url("Museo500-Regular.otf") format("opentype");
}

@font-face {
    font-family: Museo700-Regular;
    src: url("Museo700-Regular.otf") format("opentype");
}

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Museo500-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-top: 0;
}

.container {
    background: white;
}

.outer-container {
    width: 980px;
    padding-top: 20px;
    padding-bottom: 20px;
}

b {
  font-family: "Museo700-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
 font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;     
 color: #007FC0;
}

input {
  font-family: "Museo500-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    position: relative;
    height: 220px;
    background: url('../images/header.png') no-repeat top left;

    .dius {
        position: absolute;
        right: 80px;
        top: 40px;
        width: 135px;
        height: 68px;
        background: url('../images/dius.png') no-repeat top left;
    }

    .photo {
        float: left;
        width: 200px;
        height: 200px;
        background: url('../images/charles_blaxland.jpg') no-repeat top left;
    }
}

.name-and-title {
    padding: 20px 0;
}

.footer {
    height: 70px;
    margin-left: 0;
    background-color: #0094cf;
}

hr {
    margin-top: 0px;
}

.editfield {
    border: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    width: 300px;
}

.editwrapper {
    margin: 0;
    padding: 0;
}

.highlight {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
}

.label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px;
    font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}