$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$baseFontSize: 16px;

@font-face {
    font-family: Museo300-Regular;
    src: url("fonts/Museo300-Regular.otf") format("opentype");
}

@font-face {
    font-family: Museo500-Regular;
    src: url("fonts/Museo500-Regular.otf") format("opentype");
}

@font-face {
    font-family: Museo700-Regular;
    src: url("fonts/Museo700-Regular.otf") format("opentype");
}

@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "/bower_components/font-awesome/font";
@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Museo500-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-top: 0;
}

.container {
    background: white;
}

.outer-container {
    width: 980px;
    padding-top: 20px;
    padding-bottom: 20px;
}

b {
  font-family: "Museo700-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}


.section {
  h3 {
    color: #0094cf;
  }

  i {
    vertical-align: middle;
    font-size: 18px;
  }
}

input {
  font-family: "Museo500-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {

    height: 70px;
    background-color: #0094cf;

  a {
    padding: 25px 10px 10px;
    font-size: 26px;
    font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  }

}

.icon {
  color: black;
}
.name-and-title {
    padding: 20px 0;
}

.contact {

  i {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
  }
  a {
    padding-left: 6px;
    color: black;
    font-family: "Museo500-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }


}
.section{
    clear:both;
}

.footer {
    height: 70px;
    margin-left: 0;
    background-color: #0094cf;

  a {
    padding: 22px 10px 10px;
    font-size: 26px;
    font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  }

}

hr {
    margin-top: 0px;
}

.editfield {
    border: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    width: 300px;
}

.editwrapper {
    margin: 0;
    padding: 0;
}

.highlight {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
}

.label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px;
    font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li.spaced {
    margin-bottom: 10px;
}

.edit-in-place textarea, .edit-in-place input {
    width: 100%;
}

.edit-in-place textarea {
    height: 100px;
}

.skill-inline {
  color: white;
  font-family: "Museo300-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  border: 0;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 19px;
  padding-bottom: 0;
  width: 80px;
  resize: none;
  margin-top: -4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.well {
  background-color: #ffffff !important;
  border: 1px solid #ddd !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

.hero-unit {
  padding: 30px !important;
  margin-bottom: 30px !important;
  margin-top: 12px !important;
  background-color: #f4f4f4 !important;
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}

.hero-unit p {
  font-size: 14px !important;
  line-height: 22px !important;
}

.avatar{
    border:1px solid #eee;
    padding:5px;
    margin:auto auto;
    width:250px;
    height:290px;
}

.avatar .img{
    display:block;
    margin:auto auto;
    width: 100%;
    height: 100%;
    background: url('../images/charles_blaxland.jpg') no-repeat;
    background-size: 100%;
}

.bio{
    width:250px;
    margin:auto auto;
    text-align:center;
}

.contact{
    width:250px;
    margin:10px auto;
    text-align:right;
}

.button{
    width:250px;
    margin:20px auto 0 auto;
    text-align:center;
}

.btn-download{
    padding: 8px 10px;
}

.no-radius{
    border-radius:0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.header{
    clear:both;
}

