$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    position: relative;
    height: 135px;
    background: url('../images/header.png') no-repeat top left;

    .dius {
        position: absolute;
        right: 20px;
        top: 40px;
        width: 135px;
        height: 68px;
        background: url('../images/dius.png') no-repeat top left;       
    }
}

.name-and-title {
    padding: 10px 0;
}

.footer {
    height: 70px;
    margin-left: 0;
    background-color: #0094cf;
}