<div class="row">
  <div class="span12 header">
    <div class="dius"></div>
  </div>
</div>
<div class="row">
  <div class="span6 name-and-title">
    <b>Charles Blaxland</b>
    <br/>
    Senior Consultnat, Cloud Lead
  </div>
  <div class="span6">tags</div>
</div>
<hr>
<div class="row">
  <div class="span12">
    <p>
      Charles is a software engineering superstar with an excellent track record of delivering highly scalable and transactional software applications in a wide range of industries, including e-commerce, travel and medical. He has led globally distributed teams of over 60 using Agile and Lean practices. 
    </p><p>
      Currently Charles is the DiUS Sydney resident DevOps guru who is innovating and breaking ground in the way we approach provisioning and deploying environments from development to production. Outside of work, he can be found scaling and climbing mountains with the same passion and enthusiasm as his professional endeavours.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="span7">
    <h3>Selected Experience</h3>
    <ul class="unstyled">
      <li>Sensis</li>
      <li>Real Estate Australia</li>
      <li>Westfield</li>
    </ul>
    <h3>Career Highlights</h3>
    <ul class="unstyled">
      <li>
        Led the ResMed Easycare Online system architecture and provided technical development leadership for the highly successful product. Also accountable for the work done across multiple teams consisting of a total of more than 60 people which consisted of DiUS, ResMed and other third party vendors.
      </li>
      <li>
        Part of the DiUS team that was awarded the global ResMed Most Valuable Supplier Innovation Award.
      </li>
    </ul>
  </div>
  <div class="span5">
    <h3>Core experience</h3>
    <h3>Education and training</h3>
    <h3>Passionate about</h3>
  </div>
</div>
<div class="row footer">
  <div class="span12">footer</div>
</div>