<div class="row">
  <div class="span12 header">
    <div class="dius"></div>
  </div>
</div>
<div class="row">
  <div class="span6 name-and-title">
    <b>Charles Blaxland</b>
    <br/>
    Senior Consultnat, Cloud Lead
  </div>
  <div class="span6">tags</div>
</div>
<hr>
<div class="row">
  <div class="span12">
    <p>
      Charles is a software engineering superstar with an excellent track record of delivering highly scalable and transactional software applications in a wide range of industries, including e-commerce, travel and medical. He has led globally distributed teams of over 60 using Agile and Lean practices. 
    </p><p>
      Currently Charles is the DiUS Sydney resident DevOps guru who is innovating and breaking ground in the way we approach provisioning and deploying environments from development to production. Outside of work, he can be found scaling and climbing mountains with the same passion and enthusiasm as his professional endeavours.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="span7">
    <h3>Selected Experience</h3>
    <h3>Career Highlights</h3>
  </div>
  <div class="span5">
    <h3>Core experience</h3>
    <h3>Education and training</h3>
    <h3>Passionate about</h3>
  </div>
</div>
<div class="row">
  <div class="span12">footer</div>
</div>