<div class="container">
<div class="row">
  <div class="span12 header">
    <div class="photo"></div>
    <div class="dius"></div>
  </div>
</div>
<div class="row">
  <div class="span6 name-and-title">
    <div class="editwrapper" ng-switch="attrs.editingName">
      <span  ng-switch-when="false" ng-click="enabledEditName()"><b>{{attrs.name}}</b></span>
      <input ng-switch-when="true"  ng-blur="disableEditName()" ng-model="attrs.name" type="text" class="editfield" />
    </div>
    <div class="editwrapper" ng-switch="attrs.editingTitle">
      <span  ng-switch-when="false" ng-click="enabledEditTitle()">{{attrs.title}}</span>
      <input ng-switch-when="true"  ng-blur="disableEditTitle()" ng-model="attrs.title" type="text" class="editfield" />
    </div>
  </div>
  <div class="span6">tags</div>
</div>
<hr>
<div class="row">
  <div class="span12">
    <p>
      Charles is a software engineering superstar with an excellent track record of delivering highly scalable and transactional software applications in a wide range of industries, including e-commerce, travel and medical. He has led globally distributed teams of over 60 using Agile and Lean practices.
    </p><p>
      Currently Charles is the DiUS Sydney resident DevOps guru who is innovating and breaking ground in the way we approach provisioning and deploying environments from development to production. Outside of work, he can be found scaling and climbing mountains with the same passion and enthusiasm as his professional endeavours.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="span7">
    <div>
      <h4>Selected Experience</h4>
      <ul class="unstyled">
        <li>Sensis</li>
        <li>Real Estate Australia</li>
        <li>Westfield</li>
      </ul>
    </div>
    <div>
      <h4>Career Highlights</h4>
      <ul class="unstyled">
        <li class="spaced" ng-repeat="highlight in attrs.highlights">{{highlight}}</li>
        <li>
          <span ng-switch="attrs.addingExperience">
            <a ng-switch-when="false" ng-click="addExperience()">Add Highlight</a>
            <textarea ng-switch-when="true" ng-model="newExperience" ng-enter="addNewExperience(newExperience)"></textarea>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="span5">
    <div class="core-experience">
      <div class="highlight">
        <h4>Skills</h4>
        <div>
          <span ng-repeat="label in attrs.labels" class="label label-info">{{label}}</span>
        </div>
      </div>
    </div>
    <div class="education">
      <div class="highlight">
        <h4>Education and training</h4>
        <div class="row">
          <div class="span2">
            1994-1997
          </div>
          <div class="span3">
            BSc Business
          </div>
        </div>
      </div>
    </div>
    <div class="passionate">
      <div class="highlight">
        <h4>Passionate about</h4>
        <p>
          Dan North's work on Behavioural Driven Development, AWS Elastic Beanstalk, Ansible and Continuous Deployment.
        </p>
        <p>
          Big Data. Charles is the leader of DiUS Big Data Special Interest Group, looking at
          how NoSQL, data analytics and machine learning can help improve insights and solve business
          problems.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="span12">footer</div>
</div>
</div>
